body {
    background-color: #F3EAF1;
}

/* header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.logo-header {
    margin-right: auto;
    align-items: flex-start;
    height: 65px;
}

nav {
    font-size: 20px;
}

.cards {
    height: 300px;
} */